@tailwind base;
@tailwind components;
@tailwind utilities;


.items{
    @apply text-center 
}
.list{
    @apply flex flex-col 
}
.listDiv{
    max-width: 20px;
}
.itemsList{
    @apply   text-purple-400 text-[16px] mt-1 
} 
.itemDiv{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fruitTo-delete, .fruitTo-add{
    margin-left: 35%;
    width: 30%;
    padding: 5px 0;
    color: white;
    background-color: rgb(176, 119, 119);
}
.items-titles{
    margin-top: 50px;
}
.itemDelete-btn, .itemAdd-btn{
    background-color: red;
    color: white;
    width: 20%;
    margin-left: 40%;
    padding: 5px 0;
    border-radius: 5px;
    margin-top: 10px;
}
.itemAdd-btn{
    background-color: green;
}


/*Layout*/
.layout{
    @apply flex
}
.layoutNav{
    padding: 10px 10px;
}